@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

body {
  background-color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: black;
}

.button {
  margin-top: 1rem;
  background-color: #f0f8ff;
  color: black;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.back {
  margin-left: 2rem;
}

.box {
  font-size: 16px;
  position: relative;
  border: 1px solid #000;
  border-radius: 5px;
  width: 140px;
  height: 62px;
  .box__text {
    white-space: nowrap;
    margin-left: 50px;
    margin-top: 0;
  }
}

.notbox {
  margin-top: 1rem;
  font-size: 16px;
  position: relative;
  border: 1px solid #000;
  border-radius: 5px;
  width: 140px;
  height: 62px;
  .box__text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
