@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

.body{
  width: 100vw;
  height: 100vh;
  background-color:#ffffff;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: black;
}

.button{
  margin-top: 1rem;
  background-color: #f0f8ff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10%;
  color: black;

}

.backUp{
  display: flex;
  padding-top:2rem;

  justify-content: center;
}
.backDown{
  display: flex;
  padding-top:2rem;
  justify-content: center;
}

.box {
  font-size: 16px;
  position: relative;
  border: 1px solid #000;
  border-radius: 5px;
  width: 8rem;
  height: 5rem;
  .box__text {
    white-space: nowrap;
    margin-left: 50px;
    margin-top: 1rem;
  }
}

.notbox {
  margin-top: 1rem;
  font-size: 16px;
  position: relative;
  border: 1px solid #000;
  border-radius: 5px;
  width: 8rem;
  height: 5rem;
  .box__text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
